:root{
    --first-color: rgb(0,0,0);
    --second-color: rgb(255,255,255);
    --third-color: rgb(255, 35, 1);
    --four-color: rgb(45, 45, 45);
    
    /* medidas */
    --first-padding: 3rem 4rem;
    --second-padding: 3rem 2rem;
    --firts-zise: 3.5rem;
    --second-zise: 1.3rem;

}

*,
*::before,
*::after{
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 10px;
}

body{
    font-family: 'Raleway', sans-serif;
}


/* Barra de navegacion */ 

.navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--first-color);
    padding: var(--first-padding);
    z-index: 90;
}

.nav-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    margin-right: 2rem;
    font-size: 1.7rem;
    color: var(--second-color);
}

.nav-item:hover{
    color: var(--four-color);
}

.img-logo, .img-menu, .img-close{
    width: 3rem;
    pointer-events: none;
}

.btn-menu,.btn-close{
    position: absolute;
    cursor: pointer;
    background-color: var(--first-color);
    opacity: 0;
    pointer-events: none;
}

/* Section video y bienvenida */

video{
    width: 100%;
    height: 100%;
}

.cont-text{
    position: absolute;
    width: 100%;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: -10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 50;
}



.title{
    font-size: 8rem;
    color: var(--third-color);
    margin-bottom: 4rem;
}

.btn-empezar{
    cursor: pointer;
    font-size: 1.8rem;
    width: 30rem;
    padding: 1.5rem;
    background-color: var(--third-color);
    color: var(--second-color);
    border-radius: .5rem;
}

.btn-empezar:hover{
    background-color: rgba(255, 25, 1);
}

/* Section Programas */
.cont-progamas{
    background-color: var(--four-color);
    padding: var(--first-padding);
    
}

.title-programa{
    color: var(--third-color);
    text-align: center;
    font-size: var(--firts-zise);
}

.parrafos{
    text-align: center;
    color: var(--second-color);
    font-size: var(--second-zise);
    margin-bottom: 7rem;
}

.cont-cards{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.card-items{
    margin: 1rem;
}

.card-items:hover{
    transform: translateY(-2rem);
    transition: transform 1s;
}

.img-items{
    max-width: 100%;
    width: 25rem;
    height: 15rem;
    object-fit: cover;
}

.titleP-items{
    color: var(--second-color);
    font-size: 1.4rem;
}

.parrafos2{
    color: var(--second-color);
    font-size: 1.2rem;
}

/* section suscription */

.cont-suscription{
    background-color: var(--first-color);
    padding: var(--first-padding);
}

.cont-susc-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.susc-items{
    background-color: var(--four-color);
    border: 1px solid var(--second-color);
    border-radius: .6rem;
    width: 30rem;
    padding: 2rem;
    margin: 1rem;
}

.t-items, .precio-susc,.cargo-susc{
    text-align: center;
    color: var(--second-color);
    font-size: 1.6rem;
}
.cargo-susc{
    font-size: 1.3rem;
}
.precio-susc, .list-susc{
    color: var(--second-color);
    font-size: 1.5rem;
}

.susc-color{
    color: var(--third-color);
}

.btn-susc1{
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1.5rem;
    width: 95%;
    border-radius: .5rem;
    
}

.btn-susc1:hover{
    background-color: var(--third-color);
}

/* section contacto */
.cont-contacto{
    padding: var(--first-padding);
    background-color: var(--four-color);
}

.formulario{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

label{
    display: block;
    margin: 2rem;
    font-size: 1.5rem;
    color: var(--second-color);
}

input[type="email"],input[type="text"]{
    display: block;
    margin-top: 1rem;
    width: 45rem;
    padding: .5rem;
    background-color: rgba(255, 35, 1,.1);
    border-bottom: 1px solid var(--third-color);
    color: var(--second-color);
}

textarea{
    display: block;
    margin-top: 1rem;
    width: 45rem;
    height: 15rem;
    background-color: rgba(255, 35, 1,.1);
    border-bottom: 1px solid var(--third-color);
    color: var(--second-color);
}

input[type="submit"]{
    display: inline-block;
    font-size: 1.5rem;
    padding: .5rem 2rem;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 2rem;
}

input[type="submit"]:hover{
    background-color: var(--third-color);
}

input[type="reset"]{
    display: inline-block;
    margin-left: 24rem;
    font-size: 1.5rem;
    color: var(--third-color);
    background-color: var(--four-color);
    cursor: pointer;
}

.p-nombre, .p-correo{
    color: var(--second-color);
    font-size: 1.3rem;
}



/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px){ 
    /* Barra de navegacion */
    .navbar{
        padding: var(--second-padding);
    }

    /* Section video */
    .cont-text{
        bottom: 0;
        
    }
    .title{
        font-size: 15rem;
    }

    .btn-empezar{
        width: 10rem;
    }
 }

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px){ 
    /* barra de navegacion */
    .nav-cont-items{
        position: fixed;
        top: 6rem;
        left: 0;
        right: 0;
        background-color: var(--first-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        opacity: 0;
        pointer-events: none;
        transition: top 1s;
    }
    .nav-cont-items-show{
        top: 9rem;
        opacity: 1;
        pointer-events: unset;
    }
    .nav-item{
        margin-bottom: 2rem;
    }
    .btn-menu{
        position: relative;
        opacity: 1;
        pointer-events: unset;
    }
    .btn-close{
        opacity: 1;
        pointer-events: unset;
    }

    .btn-show{
        opacity: 0;
        pointer-events: none;
    }

    /* Section video */
    .cont-text{
        bottom: 0;
        
    }
    .title{
        font-size: 6rem;
    }

    .btn-empezar{
        width: 25rem;
    }
 }

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px){  }

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199.98px){  }

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media screen and (max-width: 1399.98px){  }

